<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>aboutme.vuongluis.com</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
      <servlet-name>ControllerAdminAjax</servlet-name>
      <servlet-class>controller.ControllerAdminAjax</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ControllerAdminAjax</servlet-name>
      <url-pattern>/admin/ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditMe</servlet-name>
    <servlet-class>controller.ControllerAdminEditMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditMe</servlet-name>
    <url-pattern>/admin/gioi-thieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexProject</servlet-name>
    <servlet-class>controller.ControllerAdminIndexProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexProject</servlet-name>
    <url-pattern>/admin/du-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditProject</servlet-name>
    <servlet-class>controller.ControllerAdminEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditProject</servlet-name>
    <url-pattern>/admin/cap-nhat-du-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddProject</servlet-name>
    <servlet-class>controller.ControllerAdminAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddProject</servlet-name>
    <url-pattern>/admin/them-moi-du-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteProject</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteProject</servlet-name>
    <url-pattern>/admin/xoa-du-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <servlet-class>controller.ControllerAdminIndexCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <url-pattern>/admin/danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <servlet-class>controller.ControllerAdminAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <url-pattern>/admin/them-moi-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <servlet-class>controller.ControllerAdminEditCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <url-pattern>/admin/cap-nhat-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteCat</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteCat</servlet-name>
    <url-pattern>/admin/xoa-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexNew</servlet-name>
    <servlet-class>controller.ControllerAdminIndexNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexNew</servlet-name>
    <url-pattern>/admin/tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddNew</servlet-name>
    <servlet-class>controller.ControllerAdminAddNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddNew</servlet-name>
    <url-pattern>/admin/them-moi-tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteNew</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteNew</servlet-name>
    <url-pattern>/admin/xoa-tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditNew</servlet-name>
    <servlet-class>controller.ControllerAdminEditNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditNew</servlet-name>
    <url-pattern>/admin/cap-nhat-tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexUser</servlet-name>
    <servlet-class>controller.ControllerAdminIndexUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexUser</servlet-name>
    <url-pattern>/admin/nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <servlet-class>controller.ControllerAdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <url-pattern>/admin/them-moi-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <servlet-class>controller.ControllerAdminEditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <url-pattern>/admin/cap-nhat-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteUser</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteUser</servlet-name>
    <url-pattern>/admin/xoa-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexContact</servlet-name>
    <servlet-class>controller.ControllerAdminIndexContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexContact</servlet-name>
    <url-pattern>/admin/lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteContact</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteContact</servlet-name>
    <url-pattern>/admin/xoa-lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexSay</servlet-name>
    <servlet-class>controller.ControllerAdminIndexSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexSay</servlet-name>
    <url-pattern>/admin/cau-noi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditSay</servlet-name>
    <servlet-class>controller.ControllerAdminEditSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditSay</servlet-name>
    <url-pattern>/admin/cap-nhat-cau-noi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteSay</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteSay</servlet-name>
    <url-pattern>/admin/xoa-cau-noi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddSay</servlet-name>
    <servlet-class>controller.ControllerAdminAddSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddSay</servlet-name>
    <url-pattern>/admin/them-moi-cau-noi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminAddAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddAdvs</servlet-name>
    <url-pattern>/admin/them-moi-quang-cao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminIndexAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexAdvs</servlet-name>
    <url-pattern>/admin/quang-cao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminEditAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditAdvs</servlet-name>
    <url-pattern>/admin/cap-nhat-quang-cao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDeleteAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminDeleteAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDeleteAdvs</servlet-name>
    <url-pattern>/admin/xoa-quang-cao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <servlet-class>controller.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <url-pattern>/admin/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <servlet-class>controller.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <url-pattern>/admin/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicContact</servlet-name>
    <servlet-class>controller.ControllerPublicContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicContact</servlet-name>
    <url-pattern>/lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicNew</servlet-name>
    <servlet-class>controller.ControllerPublicNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicNew</servlet-name>
    <url-pattern>/tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicProject</servlet-name>
    <servlet-class>controller.ControllerPublicProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicProject</servlet-name>
    <url-pattern>/du-an</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicIntro</servlet-name>
    <servlet-class>controller.ControllerPublicIntro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIntro</servlet-name>
    <url-pattern>/gioi-thieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <servlet-class>controller.ControllerPublicIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicDetailNew</servlet-name>
    <servlet-class>controller.ControllerPublicDetailNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicDetailNew</servlet-name>
    <url-pattern>/chi-tiet</url-pattern>
  </servlet-mapping>
</web-app>